* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

main {
  font-size: 1.5rem;
}

.header h1 {
  width: 40%;
  background-color: antiquewhite;
  margin: 0 auto;
  text-align: center;
  position: relative;
  top: 10px;
}

.main-photography figure {
  text-align: center;
  margin: 0 auto;
}

.main-photography img {
  width: 350px;
}

.main-photography p {
  width: 50%;
  margin: 10px auto;
}

.time-line {
  margin: 30px;
}

.time-line h2 {
  text-align: center;
  margin: 20px;
}

.time-line-list{
  width: 50%;
  margin: 0 auto;
}

.famous-quotes {
  width: 50%;
  margin: 20px auto;
}

.famous-quotes h3{
  font-size: 1.8rem;
  text-align: center;
  margin: 20px auto;
}

.famous-quotes p {
  font-size: 1.2rem;
}