* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  background-color:  #f8f6f6;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

main {
  font-size: 2.2rem;
}

.header h1 {
  width: 340px;
  background-color: antiquewhite;
  margin: 0 auto;
  text-align: center;
  position: relative;
  top: 10px;
  border-radius: 3px;
  font-size: 2.8rem;
}

.main-photography {
  background-color:  #ead7d756;
}

.main-photography figure {
  text-align: center;
  margin: 0 auto;
}

.main-photography img {
  width: 430px;
}

.main-photography p {
  width: 40%;
  min-width: 430px;
  margin: 10px auto;
  padding: 15px 0;
  text-align: justify;
}

.main-photography figcaption {
  font-size: 1.4rem;
}

.time-line {
  margin: 30px;
}

.time-line h2 {
  text-align: center;
  margin: 20px;
  font-size: 2.2rem;
}

.time-line-list {
  width: 40%;
  min-width: 430px;
  margin: 0 auto;
  text-align: justify;
  font-size: 2rem;
}

.time-line-list li {
  margin: 10px;
}

.famous-quotes {
  margin: 20px auto;
  padding: 5px;
  background-color:  #d1dae031;
}

.famous-quotes h2 {
  font-size: 2.2rem;
  text-align: center;
  margin: 20px auto;
}

.famous-quotes p {
  width: 40%;
  margin: 0 auto;
  font-size: 2.2rem;
}

.footer p{
  text-align: center;
  font-size: 2rem;
  padding: 10px;
  background-color: rgb(255, 255, 255);
}

.footer p > a {
  text-decoration: none;
  color: blue;
}